<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        <!-- Timer schedule -->

    <!--要调度的对象-->
<!--     <bean id="jobBean" class="com.cttic.csms.modules.cash.task.CashProvisionsSyncTask" /> -->
<!--     <bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"> -->
<!--         <property name="targetObject" ref="jobBean" /> -->
<!--         <property name="targetMethod" value="taskStart" />执行"jobBean"中的taskStart方法 -->
<!--         将并发设置为false -->
<!--         <property name="concurrent" value="false" /> -->
<!--     </bean> -->

<!--     <bean id="trigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">定义 Job 何时执行 -->
<!--         <property name="jobDetail" ref="jobDetail" /> -->
<!--         表达式 -->
<!--         <property name="cronExpression" value="0 41 13 * * ? " />“ 0 0 12 * * ? ”会在每天中午 12 点触发 执行；“ 0 15 10 ? * 6L ”会在每个月的最后一个星期五的早上 10:15 触发 Job 执行 -->
<!--     </bean> -->

    <!--  总管理类如果将lazy-init='false'那么容器启动就会执行调度程序   -->
     <bean id="startQuertz" class="com.cttic.sysframe.timetask.implClass.DataBaseSchedulerFactoryBean" lazy-init="true" autowire="no"  >
        <property name="triggers">
            <list>
                <!--作业调度器,list下可加入其他的调度器-->
                <!-- <ref bean="trigger" />-->
            </list>
        </property>
        <property name="startupDelay" value="180"/> 
    </bean>


</beans>